TSG_Cabeçalho.xlsx
TSG.cnv
young 2021-05-23T022014.txt
Radiação_HOBO.csv
Coordenadas_Hypack.out
Anemômetro_Young_Cabeçalho.xlsx
Anemômetro_Young
Anemômetro_Maximet GILL.log
Anemômetro_Maximet GILL_Cabeçalho.xlsx
**/build
**/dist
young *
procedimentos sailing-anemometerLogger.mp4
camtasia video.tscproj
procedimentos sailing-anemometerLogger.docx
__pycache__/sailing-anemometerLogger.cpython-38.pyc

